
html {
	width: 100%;
}

body {
	width: 640px;
	margin: 20px auto;
    font-family: 'Handlee', cursive;
    /* font-family: 'Nothing You Could Do', cursive; */
	background-image: url('../images/bow-from-above.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

.logo {
	color:white;
	font-size: 4em;
	text-shadow: 2px 2px black;
}

a {
	text-decoration: none;
	color: white;
	text-shadow: 1px 1px gray;
}

nav {
	width: 95%;
	margin:0;
	padding: 2em;
}

nav ul {
	overflow: hidden;  /* this will keep the floating li within the ul container */
	height: auto;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	display: inline;
	font-weight: 700;
	font-size: 1.5em;
	background-color: #b3003b;
	padding: 10px;
	border-radius: 5px;
}

nav ul li:first-child {
	float: left;
}

nav ul li:last-child {
	float: right;
}

/*-- game elements --*/
h2 {
	font-size: 200%;
}
h3 {
	font-size: 150%; 
}

ol.choices {
	list-style-type: upper-alpha;
	text-align: left;
	width: auto;
	list-style-position: inside; 
	font-size: 150%;
}

ol.choices li {
	padding-left: 15px;
	margin-left: 5px;
}

ol.choices li:hover {

	background-color: #b3003b;
	color:white;

}


span.fa-bullhorn {
	padding-right: 5px;
}

.q-a {
	position: relative;
	width: 95%;
}

.game {
	
	width: 100%;
	background-color: lightsteelblue;
	border-radius: 5px;
	padding: 20px;
	margin: auto;
}


/*style for answer modal*/
.overlay.answer {
	width: 80%;
	background: #6f93c3;
	border-radius: 5px;
	position: absolute;
	top: 200px;
	left: 75px;
	z-index: 1000;
	display: none;
}


.content {
	padding: 15px;
	/* margin: auto auto; */
}

.content>p {
	color: black;
	font-size: 125%;

}

h3.status {
	color: #b3003b;
}

a.next {
	background-color: #b3003b;
	padding: 7px;
	border-radius: 5px;
}


/*-- progress/status bar elements --*/
.results {
	width: 100%;
	margin: 20px 0;
	font-size: 1.5em;
	text-align: left;
	vertical-align: middle;	
}

.lane {
	width: 100%;
	position: relative;
	vertical-align: middle;	
	margin: 10px auto;
}

.marker {
	color: white;
	position: absolute;	
	width: 50px;
	left: 0;
	/*margin: 0;
	padding: 0;
	*/
}

.flag {
	position: absolute;
	width: 50px;
	right:0;
	top:0;
	margin: 0;
	padding: 0;
}

.user-progress, .pace-progress {
	position: relative;
	left: 60px;
	top:0;
	width: 85%;
	height: 50px;
	background-color: #81a1ca;
}


#user-boat, #pace-boat {
	position: absolute;
	width: 1%;
	height: 100%;
}

#user-boat {
	background-color: lime;
}

#pace-boat {
	background-color: darkturquoise;
}

#user-boat img {
	float: right;
}

#pace-boat img {
	float: right;
}








